.homeContainer {
    height: calc(100% - 70px);
}

.logoContainer div img {
    width: 200px !important;
    height: 200px !important;
    max-width: 500px !important;
    max-height: 500px !important;
}

@media screen and (max-width: 600px) {
    .logoContainer div img {
        width: 150px !important;
    }
}
